**/.DS_Store
**/.ipynb_checkpoints
**/alloc-profile.pb.gz
**/profile.pb.gz
JuliaHLRS22.code-workspace
.CondaPkg
.vscode
**/**.nsys-rep
**/**.sqlite
orga/teilnehmer_2022-JULIA_liste_2022-09-09.xlsx
orga/pws.txt
